body {
  padding: 0;
  margin: 0 ;
  background-image: url("images/background img/Create an account/Background.svg");
  background-size: cover;
  overflow-y: hidden;
  width: 100%;
}
.navbar_logo {
position: absolute;
width: 160px;
height: 36.02px;
margin : 60px ;
}
main {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 560px;
  height: 611px;
  top: 93px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  border-radius: 15px;
}
.wrapper {
  text-align: center;
}

.main_logo{
width: 51px;
height: 48px;
margin: 40px 254px 0 254px;
}

.main_heading {
  position: static;
  width: 378px;
  left: 0px;
  top: 72px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 26px 91px 0 91px;
}
.main_para {
  position: static;
width: 378px;
height: 37px;
left: 0px;
top: 148px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #545454;

flex: none;
order: 1;
flex-grow: 0;
margin: 20px 91px;
}
.forms {
  margin-left: 91px ;
  text-align: left;
}
.forms label {
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;

}
.form_box{
  margin-top: 20px ;
}
.some_class{
  height: 30px ;
   width: 380px;
   margin-top: 10px ;
   border: 1px solid #CED4DA;
    border-radius: 6px;
    padding: 10px 12px;
    height: 37px;
}
.category{
  display: flex;
  gap: 13px;
  margin-top: 8px;
}
.sec {
  padding : 4px 8px ;
  height: 25px;
  line-height: 25px;
  background: #F0F0F0 ;
  border-radius: 2px ;

}
.sec p {
  margin: 0;
}
.started {
  margin-top: 12px;
  width: 560px;
  display: flex;
  justify-content: center;
}
.started button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 40px;
width: 368px;
height: 36px;
background: #3766E8;
border-radius: 5px;
color: #fff;
border: none;
}
footer {
  position: absolute;
  color: #545454;
  bottom: 10px;
}
